body{
    background-image: url("/static/images/jason-dent-SnXIF8_2oPw-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: linen;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.mainCol{
    background-color: rgb(39, 39, 39);
    opacity: 90%;
}